/* Convirtiendo texto a mayuscula */
.text-uppercase {
  text-transform: uppercase;
}
/*Aplicando color a title-black1 */
.title-black1 {
  text-align: center;
  color: #212529;
  font-size: 50px;
  /*Aplicando espaciado superior e inferior*/
  margin-top: 100px;
  margin-bottom: 10px;
}

/* Espaciados laterales del ícono estrella */
i {
  margin-left: 10px;
  margin-right: 10px;
}

/* Aplicando tipo de letra */
h1 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}

body {
  /* Eliminando el margen y relleno del cuerpo */
  margin: 0;
  padding: 0;
}

/* Encabezado */
header{
  background-color: #2c3e50;
  /* Color de la letra */
  color: white;
  /* Ocupa todo el ancho del cuerpo */
  width: 100%;
  height: 80px;
  /* Posicionamiento fijo */
  position: fixed;
  /* Se aplica para que no genere un espacio en la parte superior*/
  top:0;
  /* Aplicando grosor a la letra*/
  font-weight: 900;
}

/*Primer parrafo del encabezado */
header h1{
  /* Toma el tamaño de acuerdo al contenido y no se junte con el menú*/
  display: inline-block;
  /*Posicionamiento del parrafo*/
  margin-left: 150px;
  margin-top: 30px;
  font-size: 30px;
}

/* Menú de navegación */
header nav {
  /*Posicionamiento para centrar el menú */
  position: relative;
  bottom: 60px;
  right: 120px;
}

ul {
  /*Quitar las viñetas */
  list-style: none;
  /*Quita espacio del lado izquierdo  para que este a la altura del titulo*/
  margin:0;
  padding:0;
  /*Espacio de cada item*/
  line-height: 40px;
  /*le devuelve al elemento contenedor para que vuelva a ser bloque*/
  overflow: auto;
}

li {
  width: 120px;
  /*la lista se posiciona en una linea pero sigue en bloque*/
  text-align: center;
  /*Sale del contenedor y no se ve, se debe de incorporar overflow*/
  float: right;
}

a{
  /*Quitando el subrayado*/
  text-decoration: none;
  /*Ocupa el espacio de la etiqueta padre*/
  display: block;
  color: #fff;
}

/*Cuando pasa el cursor sobre el menu las letras cambian de color */
a:hover {
  color: #18bd9b;
}

#first-section{
  /*aplicando color de fondo*/
  background-color: #18bd9b;
  height: 670px;
}

/*Imagen de la primera sección */
#first-block1 img {
  /* Centrando la imagen*/
  margin-left: 40%;
  margin-top: 150px;
  /* Ancho*/
  width: 18%
}
