/* Convirtiendo texto a mayuscula */
.text-uppercase {
  text-transform: uppercase;
}
/*Aplicando color a title-black1 */
.title-black1 {
  text-align: center;
  color: #212529;
  font-size: 50px;
  /*Aplicando espaciado superior e inferior*/
  margin-top: 100px;
  margin-bottom: 10px;
}

/* Espaciados laterales del ícono estrella */
i {
  margin-left: 10px;
  margin-right: 10px;
}

/* Aplicando tipo de letra */
h1 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}

body {
  /* Eliminando el margen y relleno del cuerpo */
  margin: 0;
  padding: 0;
}

/* Encabezado */
header{
  background-color: #2c3e50;
  /* Color de la letra */
  color: white;
  /* Ocupa todo el ancho del cuerpo */
  width: 100%;
  height: 80px;
  /* Posicionamiento fijo */
  position: fixed;
  /* Se aplica para que no genere un espacio en la parte superior*/
  top:0;
  /* Aplicando grosor a la letra*/
  font-weight: 900;
}

/*Primer parrafo del encabezado */
header h1{
  /* Toma el tamaño de acuerdo al contenido y no se junte con el menú*/
  display: inline-block;
  /*Posicionamiento del parrafo*/
  margin-left: 150px;
  margin-top: 30px;
  font-size: 30px;
}

/* Menú de navegación */
header nav {
  /*Posicionamiento para centrar el menú */
  position: relative;
  bottom: 60px;
  right: 120px;
}

ul {
  /*Quitar las viñetas */
  list-style: none;
  /*Quita espacio del lado izquierdo  para que este a la altura del titulo*/
  margin:0;
  padding:0;
  /*Espacio de cada item*/
  line-height: 40px;
  /*le devuelve al elemento contenedor para que vuelva a ser bloque*/
  overflow: auto;
}

li {
  width: 120px;
  /*la lista se posiciona en una linea pero sigue en bloque*/
  text-align: center;
  /*Sale del contenedor y no se ve, se debe de incorporar overflow*/
  float: right;
}

a{
  /*Quitando el subrayado*/
  text-decoration: none;
  /*Ocupa el espacio de la etiqueta padre*/
  display: block;
  color: #fff;
}

/*Cuando pasa el cursor sobre el menu las letras cambian de color */
a:hover {
  color: #18bd9b;
}

#first-section{
  /*aplicando color de fondo*/
  background-color: #18bd9b;
  height: 670px;
}

/*Imagen de la primera sección */
#first-section img {
  /* Centrando la imagen*/
  margin-left: 40%;
  margin-top: 150px;
  /* Ancho*/
  width: 18%
}

/*Contenedor del texto */
#first-section .text{
  /*Centrando los textos en su interior*/
  text-align: center;
  color: white;
}

/*Título de la primera sección */
#first-section .text .title-white1 {
  font-size: 80px;
  /*Espacio superior e inferior */
  margin-bottom: 10px;
  margin-top: 20px;
}

/*Posicionando la estrella blanca */
#start-white {
  text-align: center;
  color:white;
  font-size: 40px;
}

/* Aplicando líneas laterales a la estrella*/
#start-white:after {
  /* No se aplica ningún texto */
  content: " ";
  /*Se posiciona al lado derecho de la estrella*/
  display: inline-block;
  /* Tamaño de la línea*/
  width: 100px;
  height: 5px;
  /* Color de fondo */
  background: white;
  /*Posicionamiento al centro de la estrella */
  margin-bottom: 10px;
}

#start-white:before {
  /* No se aplica ningún texto */
  content: " ";
  /*Se posiciona al lado izquierdo de la estrella*/
  display: inline-block;
  /* Tamaño de la línea*/
  width: 100px;
  height: 5px;
  /* Color de fondo */
  background: white;
  /*Posicionamiento al centro de la estrella */
  margin-bottom: 10px;
}
/*Parrafo de la primera sección */
.text p {
  font-size: 20px;
}

/*Segunda sección */
#second-section {
  height: 850px;
  /*Aplicando relleno para que no quede espacio entre las secciones */
  padding-top: 10px;
  background-color: white;
}

/* Icono estrella negra */
#start-black {
  /*Centrando la estrella */
  text-align: center;
  color: #2c3e50;
  font-size: 40px;
}

/*Añadiendo líneas laterales */
#start-black:after {
  content: " ";
  /*Posicionando la linea al lado derecho de la estrella*/
  display: inline-block;
  /*Tamaño*/
  width: 100px;
  height: 5px;
  /*Color de fondo*/
  background: #2c3e50;
  /*Posicionamiento al centro de la estrella*/
  margin-bottom: 10px;
}
#start-black:before {
  content: " ";
  /*Posicionando la linea al lado izquierdo de la estrella*/
  display: inline-block;
  /*Tamaño*/
  width: 100px;
  height: 5px;
  background: #2c3e50;
  /*Posicionamiento al centro de la estrella*/
  margin-bottom: 10px;
}

/*Container de las imagenes */
#second-section .container1{
  /*Posicionamiento en el centro */
  margin:20px 30px 0px 120px;
}
/*Columnas de las imagenes*/
#second-section .box1{
  /*las imagenes se colocan en linea pero se mantiene en bloque*/
  display: inline-block;
  width: 300px;
  /*Espaciados verticales entre las imagenes*/
  margin-right: 30px;
}
#second-section img{
  width: 100%;
  margin-bottom: 30px;
}

/* Tercera sección*/
#third-section {
  background-color: #18bd9b;
  height: 700px;
}
/* Título de la tercera sección */
#third-section h1{
  text-align: center;
  color: white;
  margin:0;
  /*Espaciado superior e inferior*/
  padding-top: 90px;
  padding-bottom: 10px;
  /*tamaño de la letra*/
  font-size: 50px;
}
/*Contenedor de los parrafos*/
#third-section .paragraph {
  margin-left: 30%;
  width: 50%;
}
/*Párrafos*/
#third-section .paragraph p{
  width: 40%;
  /*Se posicionan en una sola línea pero se mantienen en bloque*/
  display: inline-block;
  margin-right: 20px;
  color: white;
}
/*Botón download*/
.button1{
  color:white;
  font-size: 18px;
  background-color: #18bd9b;
  /*Posicionamiento en el centro*/
  margin-top: 20px;
  margin-left: 40%;
  /*Relleno del boton*/
  padding:10px;
  /*Borde*/
  border: 2px solid white;
  /*Borde circular*/
  border-radius:10px;
}

/* Cuarta sección*/
.fourth-section{
  height: 700px;
  /*Se le aplica relleno para que no exista un espacio entre secciones*/
  padding-top: 10px;
}
/*Formulario*/
form{
  width: 40%;
  /*Posicionamiento de formulario a la izquierda*/
  margin-left: 25%;
  margin-top: 20px;
  /*Relleno de formulario*/
  padding: 10px;
}
/*Selector por atributo */
input[type="text"]{
  /*Espacio entre cada entrada*/
  margin-bottom: 10px;
  padding-bottom: 20px;
  border: none;
  /*Borde inferior*/
  border-bottom: 1px solid #808080;
  /*Posicionamiento debajo de cada uno*/
  display: block;
  color: #808080;
  font-size: 25 px;
  width: 90%;
}
